<%= form_for(@genome) do |f| %>
  <% if @genome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genome.errors.count, "error") %> prohibited this genome from being saved:</h2>

      <ul>
      <% @genome.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spread %><br />
    <%= f.text_field :spread %>
  </div>
  <div class="field">
    <%= f.label :spreadmult %><br />
    <%= f.text_field :spreadmult %>
  </div>
  <div class="field">
    <%= f.label :lengthmult %><br />
    <%= f.text_field :lengthmult %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :recursion %><br />
    <%= f.text_field :recursion %>
  </div>
  <div class="field">
    <%= f.label :recbias %><br />
    <%= f.text_field :recbias %>
  </div>
  <div class="field">
    <%= f.label :angle %><br />
    <%= f.text_field :angle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
