<p id="notice"><%= notice %></p>

<p>
  <b>Spread:</b>
  <%= @genome.spread %>
</p>

<p>
  <b>Spreadmult:</b>
  <%= @genome.spreadmult %>
</p>

<p>
  <b>Lengthmult:</b>
  <%= @genome.lengthmult %>
</p>

<p>
  <b>Length:</b>
  <%= @genome.length %>
</p>

<p>
  <b>Recursion:</b>
  <%= @genome.recursion %>
</p>

<p>
  <b>Recbias:</b>
  <%= @genome.recbias %>
</p>

<p>
  <b>Angle:</b>
  <%= @genome.angle %>
</p>


<%= link_to 'Edit', edit_genome_path(@genome) %> |
<%= link_to 'Back', genomes_path %>
